.background {
  background-image: url("/src/images/bg-main-desktop.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
}

body {
  position: relative;
  color: white;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Space Grotesk', sans-serif;
}
